<div>
  <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:thumb) %>
  <% else %>
    <%= image_tag @default_image %>
  <% end %>
  <% if current_user == @user %>
    <%= link_to 'Update Profile Picture', edit_user_path(@user) %>
  <% end %>
  <% if current_user == @user  && @user.avatar? %>
  <%= link_to "Delete Profile Picture", remove_avatar_user_path(@user), :method => :delete %>
  <% end %>

  <h1><%= @user.username %>'s Profile Page</h1>
</div>

<h2>Submitted Words</h2>
<% @user.words.each do |word| %>
  <%= link_to word.word, word_path(word) %>
  <% if current_user == @user %>
    <%= link_to "Update #{word.word}", edit_word_path(word) %>
  <% end %>
<% end %>

<div id="last_five_votes">
  <h2>Five Most Recent Votes</h2>
  <% @votes.each_with_index do |vote, index|  %>
    <div>
      <%= index + 1 %>.)
      Word: <%= vote.review.word.word %><br/>
      Review Text: <%= vote.review.body %><br/>
      <% if vote.up_down %>
        Vote: Upvoted!
      <% else %>
        Vote: Downvoted!
      <% end %>
      <br/><br/>
    </div>
  <% end %>
</div>

<div id="submitted_reviews">
  <h2>Submitted Reviews</h2>
  <% @user.reviews.each do |review| %>
    <p>Reviewed Word: <%= review.word.word %><br/>
    Rating: <%= review.rating %><br/>
    Review: <%= review.body %></p>
  <% end %>
</div>

<% if current_user.try(:admin?) || current_user == @user %>
  <%= link_to "Delete User Account", user_path(@user), method: :delete %>
  <%= link_to "Edit your account", edit_user_registration_path %>
<% end %>
