<div>
  <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:thumb) %>
  <% else %>
    <%= image_tag @default_image %>
  <% end %>
  <% if current_user == @user %>
    <%= link_to 'Update Profile Picture', edit_user_path(@user) %>
  <% end %>
  <% if current_user == @user  && @user.avatar? %>
  <%= link_to "Delete", remove_avatar_user_path(@user), :method => :delete %>
  <% end %>

  <h1><%= @user.username %>'s Profile Page</h1>
</div>

<h2>Submitted Words</h2>
<% @user.words.each do |word| %>
  <%= link_to word.word, word_path(word) %>
  <% if current_user == @user %>
    <%= link_to "Update #{word.word}", edit_word_path(word) %>
  <% end %>
<% end %>

<h2>Submitted Reviews</h2>
<% @user.reviews.each do |review| %>
  <h4><%= review.word.word %></h4>
  <h5><%= review.rating %></h5>
  <p><%= review.body %></p>
<% end %>
