<h1>Add a new word</h1>
<% if flash[:errors] %>
  <p>
    <%= flash[:errors] %>
  </p>
<% end %>
<%= form_for :word, url: words_path do |f| %>
  <div class="row">
    <div class="col s8">
      <%= f.label :word, class: "new_word_label" %>
      <%= f.text_field :word %>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <%= f.label :definition, class: "new_word_label" %>
      <%= f.text_area :definition, class: "text_area" %>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <%= f.submit "Create Word", class: "btn" %>
    </div>
  </div>
<% end %>
