<%= @word.word %>
<%= @word.definition %>
<% if current_user.try(:admin?) || current_user == @word.user %>
  <%= link_to 'Update Content', edit_word_path(@word) %>
<% end %>
<h4>Reviews</h4>
  <% @reviews.each do |review| %>
    <%= review.rating %> <%= review.body %>
    <% if current_user.try(:admin?) || current_user == review.user %>
      <%= link_to "Edit Review", edit_word_review_path(review) %>
      <%= link_to "Delete Review", word_review_path(review), method: :delete %>
    <% end %>
  <% end %>
<% if user_signed_in? %>
  <%= render "/layouts/review_form" %>
<% end %>
<% if current_user.try(:admin?) || current_user == @word.user %>
  <%= link_to "Delete Word",  word_path(@word), method: :delete %>
<% end %>
