<%= @word.word %>
<%= @word.definition %>
<% if current_user == @word.user %>
  <%= link_to 'Update Content', edit_word_path(@word) %>
<% end %>
<h4>Reviews</h4>
  <% @reviews.each do |review| %>
    <%= review.rating %> <%= review.review %>
    <% if review.user == current_user %>
      <%= link_to "Edit Review", edit_word_review_path(review) %>
    <% end %>
  <% end %>
<% if user_signed_in? %>
  <%= render "/layouts/review_form" %>
<% end %>
