<%= form_for [@word, @review] do |f| %>
  <div class='row'>
      <% unless @review.user && current_user.try(:admin?)%>
      <div class='col s8'>
        <%= f.label :rating, "Rating", class: "new_word_label" %>
        <%= f.select :rating, options_for_select(["0", "1", "2", "3", "4", "5"]), {}, { class: 'browser-default' } %>
      </div>
      <% end %>

    <div class='col s8'>
      <%= f.label :body, "Review Text", class: "new_word_label" %>
      <%= f.text_area :body, class: "text_area" %>
    </div>

    <div class='col s8'>
      <%= f.submit "Save Review",class: "btn" %>
    </div>
  </div>
<% end %>
