<!DOCTYPE html>
<html>
  <head>
    <title>FlyLikeAG9</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Add a new word", new_word_path %>
    <% if current_user %>
      <h4>Signed in as <%= current_user.username %></h4>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else%>
      <% if controller_name != "sessions" && action_name != "new" %>
        <% if controller_name != "registrations"%>
          <% if action_name != "new" || action_name != "show" %>
            <%= render "layouts/sign_in_form" %>
            <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <% if flash[:errors] %>
      <%= flash[:errors] %>
    <% end %>
    <%= yield %>
  </body>
</html>
